<!-- page start-->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                自选池
            </header>
            <div class="panel-body" ng-controller="optionalCtrl">
                <!--page start-->
                <div class="btn-row">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-info" type="button" ng-click="getPage(this.page-1)">
                                上一页
                            </button>
                            <button class="btn btn-info" type="button" ng-click="getPage(this.page+1)">
                                下一页
                            </button>
                        </div>
                        <span class="help-block">共{{count}}条数据，当前第{{page+1}}页，共{{pageSize}}页</span>
                    </div>
                </div>
                <!--page end-->
                <section id="verdict">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>名字</th>
                            <th>编码</th>
                            <th>期望买入</th>
                            <th>期望卖出</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="dockInfo in listContent">
                            <td>{{dockInfo.name}}</td>
                            <td>{{dockInfo.code}}</td>
                            <td>{{dockInfo.mywantbuy}}</td>
                            <td>{{dockInfo.mywantsale}}</td>
                        </tr>
                        </tbody>
                        <thead>
                        <tr>
                            <th>名字</th>
                            <th>编码</th>
                            <th>期望买入</th>
                            <th>期望卖出</th>
                        </tr>
                        </thead>
                    </table>
                </section>

                <!--page start-->
                <div class="btn-row">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-info" type="button" ng-click="getPage(this.page-1)">
                                上一页
                            </button>
                            <button class="btn btn-info" type="button" ng-click="getPage(this.page+1)">
                                下一页
                            </button>
                        </div>
                        <span class="help-block">共{{count}}条数据，当前第{{page+1}}页，共{{pageSize}}页</span>
                    </div>
                </div>
                <!--page end-->
            </div>
        </section>
    </div>
</div>