<!-- page start-->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                媒体质量评估(不区分授权与否)
            </header>
            <div class="panel-body" ng-controller="realtimeCtrl">
                <!--page start-->
                <div class="btn-row">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-info" type="button" ng-click="getPage(this.page-1)">
                                上一页
                            </button>
                            <button class="btn btn-info" type="button" ng-click="getPage(this.page+1)">
                                下一页
                            </button>
                        </div>
                        <span class="help-block">共{{count}}条数据，当前第{{page+1}}页，共{{pageSize}}页</span>
                    </div>
                </div>
                <!--page end-->
                <section id="media">
                    <table class="table table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                        <tr>
                            <th>名字</th>
                            <th>编码</th>
                            <th>开盘价</th>
                            <th>昨日收盘价</th>
                            <th>最高价</th>
                            <th>最低价</th>
                            <th>当前价</th>
                            <th>时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="dockRealtime in listContent">
                            <td>{{dockRealtime.name}}</td>
                            <td>{{dockRealtime.code}}</td>
                            <td>{{dockRealtime.sPrice}}</td>
                            <td>{{dockRealtime.yesterdayprice}}</td>
                            <td>{{dockRealtime.hPrice}}</td>
                            <td>{{dockRealtime.lPrice}}</td>
                            <td>{{dockRealtime.price}}</td>
                            <td>{{dockRealtime.time}}</td>
                        </tr>
                        </tbody>
                        <thead class="cf">
                        <tr>
                            <th>名字</th>
                            <th>编码</th>
                            <th>开盘价</th>
                            <th>昨日收盘价</th>
                            <th>最高价</th>
                            <th>最低价</th>
                            <th>当前价</th>
                            <th>时间</th>
                        </tr>
                        </thead>
                    </table>
                </section>

                <!--page start-->
                <div class="btn-row">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-info" type="button" ng-click="getPage(this.page-1)">
                                上一页
                            </button>
                            <button class="btn btn-info" type="button" ng-click="getPage(this.page+1)">
                                下一页
                            </button>
                        </div>
                        <span class="help-block">共{{count}}条数据，当前第{{page+1}}页，共{{pageSize}}页</span>
                    </div>
                </div>
                <!--page end-->
            </div>
        </section>
    </div>
</div>
