<!-- page start-->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                总审核结果(总、编、约(约编)、爬(所有爬取))
            </header>
            <div class="panel-body" ng-controller="verdictCtrl">
                <!--select-->
                <div class="form-group">
                    <label class="control-label col-md-1">时间区间:</label>
                    <div class="col-md-3">
                        <div class="input-group input-large">
                            <input type="text" class="form-control dpd1" name="from" id="beginDate">
                            <span class="input-group-addon">To</span>
                            <input type="text" class="form-control dpd2" name="to" id="endDate">
                        </div>
                        <span class="help-block"></span>
                    </div>
                    <label class="control-label col-md-1">类型:</label>
                    <div class="col-md-1">
                        <select class="form-control" ng-change="selectType()" ng-model="newsType"
                                ng-options="newsType.name for newsType in newsTypes"></select>
                    </div>
                    <label class="control-label col-md-1">站点:</label>
                    <div class="col-md-1">
                        <select class="form-control" ng-change="selectCity()" ng-model="city"
                                ng-options="city.name for city in cities"></select>
                    </div>

                    <div class="col-lg-2">
                        <input type="text" class="form-control" placeholder="search.." ng-model="content">
                    </div>
                    <button type="button" class="btn btn-info" ng-click="goSelect()">GO!</button>
                </div>
                <!--select end-->

                <!--page start-->
                <div class="btn-row">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-info" type="button" ng-click="getPage(this.page-1)">
                                上一页
                            </button>
                            <button class="btn btn-info" type="button" ng-click="getPage(this.page+1)">
                                下一页
                            </button>
                        </div>
                        <span class="help-block">共{{count}}条数据，当前第{{page+1}}页，共{{pageSize}}页</span>
                    </div>
                </div>
                <!--page end-->
                <section id="verdict">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>日期</th>
                            <th>站点</th>
                            <th>频道</th>
                            <th>通过</th>
                            <th>不通过</th>
                            <th>当日通过率</th>
                            <th>累计通过率</th>
                            <th>暂存(爬虫有)</th>
                            <th>新增</th>
                            <th>累计待审核</th>
                            <th>当日审核率</th>
                            <th>累计审核率</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="verdict in listContent">
                            <td>{{verdict.date}}</td>
                            <td>{{verdict.cityName}}</td>
                            <td>{{verdict.channelName==-1?"汇总":verdict.channelName}}</td>
                            <td>{{verdict.yes}}</td>
                            <td>{{verdict.no}}</td>
                            <td>{{verdict.dayPassRate*100 | number:2}}%</td>
                            <td>{{verdict.passRate*100 | number:2}}%</td>
                            <td>{{verdict.tmp}}</td>
                            <td>{{verdict.added}}</td>
                            <td>{{verdict.ing}}</td>
                            <td>{{verdict.dayAuditRate*100 | number:2}}%</td>
                            <td>{{verdict.auditRate*100 | number:2}}%</td>
                        </tr>
                        </tbody>
                        <thead>
                        <tr>
                            <th>日期</th>
                            <th>站点</th>
                            <th>频道</th>
                            <th>通过</th>
                            <th>不通过</th>
                            <th>当日通过率</th>
                            <th>累计通过率</th>
                            <th>暂存(爬虫有)</th>
                            <th>新增</th>
                            <th>累计待审核</th>
                            <th>当日审核率</th>
                            <th>累计审核率</th>
                        </tr>
                        </thead>
                    </table>
                </section>

                <!--page start-->
                <div class="btn-row">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-info" type="button" ng-click="getPage(this.page-1)">
                                上一页
                            </button>
                            <button class="btn btn-info" type="button" ng-click="getPage(this.page+1)">
                                下一页
                            </button>
                        </div>
                        <span class="help-block">共{{count}}条数据，当前第{{page+1}}页，共{{pageSize}}页</span>
                    </div>
                </div>
                <!--page end-->
            </div>
        </section>
    </div>
</div>