<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sijin.free.web.mappers.DataMapper">

    <select id="queryVerdict" parameterType="com.sijin.free.web.common.domain.BaseRequest"
            resultType="com.sijin.free.web.common.domain.Verdict">
        SELECT
        `date`, cityId, cityName, channelId,
        channelName, tagId, type, sum(added) as added,
        sum(ing) as ing, sum(yes) as yes, sum(no) as no, sum(tmp) as tmp,
        sum(auditDay) as auditDay, sum(channelSum) as channelSum, sum(yesSum) as yesSum, sum(auditSum) as auditSum,
        sum(auditDay)/sum(added) as dayAuditRate, sum(auditSum)/sum(channelSum) as auditRate, sum(yes)/sum(auditDay) as
        dayPassRate, sum(yesSum)/sum(auditSum) as passRate
        FROM Verdict
        <where>
            channelName = "-1"
            <include refid="condition"/>
            <if test="content != null and content != '' ">
                AND channelName like "%"#{content}"%" or cityName like "%"#{content}"%"
            </if>
        </where>
        group by `date`,cityId,cityName,`channelId`,`channelName`,tagId
        union
        (
        SELECT
        `date`, cityId, cityName, channelId,
        channelName, tagId, type, added,
        ing, yes, no, tmp,
        auditDay, channelSum, yesSum, auditSum,
        dayAuditRate, auditRate, dayPassRate, passRate
        FROM Verdict
        <where>
            channelName != "-1"
            <include refid="condition"/>
            <if test="content != null and content != '' ">
                AND channelName like "%"#{content}"%" or cityName like "%"#{content}"%"
            </if>
        </where>
        )
        order by `date` desc,channelName
        <choose>
            <when test="pagePerSize > 0">
                LIMIT #{page},#{pagePerSize}
            </when>
            <otherwise>
                LIMIT 10000
            </otherwise>
        </choose>
    </select>

    <select id="sumVerdict" parameterType="com.sijin.free.web.common.domain.BaseRequest"
            resultType="com.sijin.free.web.common.domain.Verdict">
        SELECT
        `date`, cityId, cityName, channelId,
        channelName, tagId, type, sum(added) as added,
        sum(ing) as ing,sum(yes) as yes, sum(no) as no, sum(tmp) as tmp,
        sum(auditDay) as auditDay, sum(channelSum) as channelSum, sum(yesSum) as yesSum, sum(auditSum) as auditSum,
        sum(auditDay)/sum(added) as dayAuditRate, sum(auditSum)/sum(channelSum) as auditRate, sum(yes)/sum(auditDay) as
        dayPassRate, sum(yesSum)/sum(auditSum) as passRate
        FROM Verdict
        <where>
            channelName = "-1"
            <include refid="condition"/>
            <if test="content != null and content != '' ">
                AND channelName like "%"#{content}"%"
            </if>
        </where>
        group by `date`,cityId,cityName,`channelId`,`channelName`,tagId
        union
        (
        SELECT
        `date`, cityId, cityName, channelId,
        channelName, tagId, type, sum(added) as added,
        sum(ing) as ing, sum(yes) as yes, sum(no) as no, sum(tmp) as tmp,
        sum(auditDay) as auditDay, sum(channelSum) as channelSum, sum(yesSum) as yesSum, sum(auditSum) as auditSum,
        sum(auditDay)/sum(added) as dayAuditRate, sum(auditSum)/sum(channelSum) as auditRate, sum(yes)/sum(auditDay) as
        dayPassRate, sum(yesSum)/sum(auditSum) as passRate
        FROM Verdict
        <where>
            channelName != "-1"
            <include refid="condition"/>
            <if test="content != null and content != '' ">
                AND channelName like "%"#{content}"%" or cityName like "%"#{content}"%"
            </if>
        </where>
        group by `date`,cityId,cityName,`channelId`
        )
        order by `date` desc,channelName
        <choose>
            <when test="pagePerSize > 0">
                LIMIT #{page},#{pagePerSize}
            </when>
            <otherwise>
                LIMIT 10000
            </otherwise>
        </choose>
    </select>

    <select id="queryAudit" parameterType="com.sijin.free.web.common.domain.BaseRequest"
            resultType="com.sijin.free.web.common.domain.Audit">
        SELECT
        id, auditUser, auditUserId, biDate,
        pass,unpass, hold, created,
        updated
        FROM Audit
        <where>
            1=1
            <if test="beginDate != null and endDate != null">
                AND (`biDate` &gt;= DATE_FORMAT(#{beginDate},'%Y-%m-%d') and `biDate` &lt;= DATE_FORMAT(#{endDate},
                '%Y-%m-%d'))
            </if>
            <if test="content != null and content != '' ">
                AND auditUser like "%"#{content}"%"
            </if>
        </where>
        ORDER BY `biDate` DESC
        <choose>
            <when test="pagePerSize > 0">
                LIMIT #{page},#{pagePerSize}
            </when>
            <otherwise>
                LIMIT 10000
            </otherwise>
        </choose>
    </select>

    <select id="queryMedia" parameterType="com.sijin.free.web.common.domain.BaseRequest"
            resultType="com.sijin.free.web.common.domain.Media">
        SELECT
        id, `date`, site, cityId,
        cityName, preChannel, `add`, allWaiting,
        yes, no, temp, dayDealRate, allDealRate,
        dayYesRate, allYesRate, dayDeal, allDeal,
        allCount, allYes, created, updated
        FROM Media
        <where>
            1=1
            <if test="cityId>0">
                AND cityId=#{cityId}
            </if>
            <if test="beginDate != null">
                AND (`date` &gt;= DATE_FORMAT(#{beginDate},'%Y-%m-%d') and `date` &lt;= DATE_FORMAT(#{endDate},
                '%Y-%m-%d'))
            </if>
            <if test="content != null and content != '' ">
                AND (site like "%"#{content}"%" or preChannel like "%"#{content}"%")
            </if>
        </where>
        <choose>
            <when test="orderbyDataValue==1">
                ORDER BY allYesRate DESC
            </when>
            <when test="orderbyDataValue==2">
                ORDER BY allYes DESC
            </when>
            <otherwise>
                ORDER BY `date` DESC
            </otherwise>
        </choose>
        <choose>
            <when test="pagePerSize > 0">
                LIMIT #{page},#{pagePerSize}
            </when>
            <otherwise>
                LIMIT 10000
            </otherwise>
        </choose>
    </select>

    <select id="queryEditor" parameterType="com.sijin.free.web.common.domain.BaseRequest"
            resultType="com.sijin.free.web.common.domain.Editor">
        SELECT
        id, `date`, publisherId, publishName,
        bloggerId, bloggerName, bloggerType, belongto,
        sourceType, offlineCnt, pushcheckCnt, checkfailedCnt,
        checksuccessCnt, pushpredictorCnt, onlineCnt, unknowCnt
        FROM Editor
        <where>
            1=1
            <if test="type>0">
                AND sourceType=#{type}
            </if>
            <if test="beginDate != null and endDate != null">
                AND (`date` &gt;= DATE_FORMAT(#{beginDate},'%Y-%m-%d') and `date` &lt;= DATE_FORMAT(#{endDate},
                '%Y-%m-%d'))
            </if>
            <if test="belongto>0">
                <choose>
                    <when test="belongto=1">
                        AND belongto=#{belongto}
                    </when>
                    <otherwise>
                        AND belongto != 1
                    </otherwise>
                </choose>
            </if>
            <if test="content != null and content != '' ">
                AND (publishName like "%"#{content}"%" or bloggerName like "%"#{content}"%")
            </if>
        </where>
        ORDER BY `date` DESC
        <choose>
            <when test="pagePerSize > 0">
                LIMIT #{page},#{pagePerSize}
            </when>
            <otherwise>
                LIMIT 10000
            </otherwise>
        </choose>
    </select>

    <select id="countVerdict" parameterType="com.sijin.free.web.common.domain.BaseRequest"
            resultType="Integer">
        select count(*) from Verdict
        <where>
            1=1
            <include refid="condition"/>
            <if test="content != null and content != '' ">
                AND channelName like "%"#{content}"%"
            </if>
        </where>
        limit 10000
    </select>

    <select id="countSumVerdict" parameterType="com.sijin.free.web.common.domain.BaseRequest"
            resultType="Integer">
        select count(*) from
        (
        SELECT
        *
        FROM Verdict
        <where>
            channelName = "-1"
            <include refid="condition"/>
            <if test="content != null and content != '' ">
                AND channelName like "%"#{content}"%" or cityName like "%"#{content}"%"
            </if>
        </where>
        group by `date`,cityId,cityName,`channelId`,`channelName`,tagId
        union
        (
        SELECT
        *
        FROM Verdict
        <where>
            channelName != "-1"
            <include refid="condition"/>
            <if test="content != null and content != '' ">
                AND channelName like "%"#{content}"%" or cityName like "%"#{content}"%"
            </if>
        </where>
        group by `date`,cityId,cityName,`channelId`
        )
        LIMIT 10000
        )a
    </select>

    <select id="countAudit" parameterType="com.sijin.free.web.common.domain.BaseRequest"
            resultType="Integer">
        select count(*) from Audit
        <where>
            1=1
            <if test="beginDate != null and endDate != null">
                AND (`biDate` &gt;= DATE_FORMAT(#{beginDate},'%Y-%m-%d') and `biDate` &lt;= DATE_FORMAT(#{endDate},
                '%Y-%m-%d'))
            </if>
            <if test="content != null and content != '' ">
                AND auditUser like "%"#{content}"%"
            </if>
        </where>
        limit 10000
    </select>

    <select id="countMedia" parameterType="com.sijin.free.web.common.domain.BaseRequest"
            resultType="Integer">
        select count(*) from Media
        <where>
            1=1
            <include refid="condition"/>
            <if test="content != null and content != '' ">
                AND (site like "%"#{content}"%" or preChannel like "%"#{content}"%")
            </if>
        </where>
        limit 10000
    </select>

    <select id="countEditor" parameterType="com.sijin.free.web.common.domain.BaseRequest"
            resultType="Integer">
        select count(*) from Editor
        <where>
            1=1
            <if test="type>0">
                AND sourceType=#{type}
            </if>
            <if test="beginDate != null and endDate != null">
                AND (`date` &gt;= DATE_FORMAT(#{beginDate},'%Y-%m-%d') and `date` &lt;= DATE_FORMAT(#{endDate},
                '%Y-%m-%d'))
            </if>
            <if test="belongto>0">
                <choose>
                    <when test="belongto=1">
                        AND belongto=#{belongto}
                    </when>
                    <otherwise>
                        AND belongto != 1
                    </otherwise>
                </choose>
            </if>
            <if test="content != null and content != '' ">
                AND (publishName like "%"#{content}"%" or bloggerName like "%"#{content}"%")
            </if>
        </where>
        limit 10000
    </select>

    <sql id="condition">
        <if test="cityId>0">
            AND cityId=#{cityId}
        </if>
        <if test="type>0">
            AND type=#{type}
        </if>
        <if test="beginDate != null and endDate != null">
            AND (`date` &gt;= DATE_FORMAT(#{beginDate},'%Y-%m-%d') and `date` &lt;= DATE_FORMAT(#{endDate}, '%Y-%m-%d'))
        </if>
    </sql>
</mapper>
