<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sijin.free.web.mappers.RedSoldierMapper" >
  <resultMap id="BaseResultMap" type="com.sijin.free.web.common.domain.RedSoldier" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="price3" property="price3" jdbcType="DOUBLE" />
    <result column="price2" property="price2" jdbcType="DOUBLE" />
    <result column="price1" property="price1" jdbcType="DOUBLE" />
    <result column="updated" property="updated" jdbcType="BIGINT" />
    <result column=" created" property=" created" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, name, price, price3, price2, price1, updated, " created"
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from redSoldier
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from redSoldier
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sijin.free.web.common.domain.RedSoldier" >
    insert into redSoldier (id, code, name, 
      price, price3, price2, 
      price1, updated, " created"
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{price3,jdbcType=DOUBLE}, #{price2,jdbcType=DOUBLE}, 
      #{price1,jdbcType=DOUBLE}, #{updated,jdbcType=BIGINT}, #{ created,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sijin.free.web.common.domain.RedSoldier" >
    insert into redSoldier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="price3 != null" >
        price3,
      </if>
      <if test="price2 != null" >
        price2,
      </if>
      <if test="price1 != null" >
        price1,
      </if>
      <if test="updated != null" >
        updated,
      </if>
      <if test=" created != null" >
        " created",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="price3 != null" >
        #{price3,jdbcType=DOUBLE},
      </if>
      <if test="price2 != null" >
        #{price2,jdbcType=DOUBLE},
      </if>
      <if test="price1 != null" >
        #{price1,jdbcType=DOUBLE},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=BIGINT},
      </if>
      <if test=" created != null" >
        #{ created,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sijin.free.web.common.domain.RedSoldier" >
    update redSoldier
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="price3 != null" >
        price3 = #{price3,jdbcType=DOUBLE},
      </if>
      <if test="price2 != null" >
        price2 = #{price2,jdbcType=DOUBLE},
      </if>
      <if test="price1 != null" >
        price1 = #{price1,jdbcType=DOUBLE},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=BIGINT},
      </if>
      <if test=" created != null" >
        " created" = #{ created,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sijin.free.web.common.domain.RedSoldier" >
    update redSoldier
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      price3 = #{price3,jdbcType=DOUBLE},
      price2 = #{price2,jdbcType=DOUBLE},
      price1 = #{price1,jdbcType=DOUBLE},
      updated = #{updated,jdbcType=BIGINT},
      " created" = #{ created,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>